<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.CarMapper">
    <sql id="column">
        car_info.car_id,
        car_info.user_id,
        car_info.commission_id,
        car_info.name,
        car_info.sex,
        car_info.ethnic,
        car_info.birth,
        car_info.address,
        car_info.id_car,
        car_info.organ_auth,
        car_info.validity,
        car_info.phone,
        car_info.is_main_car,
        car_info.create_time
    </sql>

    <insert id="insert" parameterType="Car">
       INSERT INTO car_info(<include refid="column" />)
        VALUES (#{carId},#{userId},#{commissionId},#{name},#{sex},#{ethnic},#{birthDate},#{address},#{idCar},#{organAuth},#{validityDate},#{photo},#{isMainCar},#{createTime});
    </insert>

    <select id="selectById" parameterType="long" resultType="Car">
        SELECT <include refid="column" /> FROM car_info
        <where>
            car_id=#{id}
        </where>
    </select>
    <select id="selectByCommId" resultType="com.mxp.car.model.Car">
        SELECT <include refid="column" /> FROM car_info
        <where>
            commission_id=#{commissionId}
        </where>
    </select>

    <update id="updateByCommId" parameterType="Car">
        UPDATE car_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name=#{name} ,
            </if>
            <if test="sex != null">
                sex=#{sex} ,
            </if>
            <if test="ethnic != null and ethnic != ''">
                ethnic=#{ethnic} ,
            </if>
            <if test="birthDate != null">
                birth=#{birthDate} ,
            </if>
            <if test="address != null and address != ''">
                address=#{address} ,
            </if>
            <if test="idCar != null and idCar != ''">
                id_car=#{idCar} ,
            </if>
            <if test="organAuth != null and organAuth != ''">
                organ_auth=#{organAuth} ,
            </if>
            <if test="validityDate != null">
                validity=#{validityDate} ,
            </if>
            <if test="photo != null and photo != ''">
                phone=#{photo} ,
            </if>
            <if test="isMainCar != null">
                is_main_car=#{isMainCar} ,
            </if>
            <if test="createTime != null">
                create_time=#{createTime}
            </if>
        </trim>
        <where>
            commission_id=#{commissionId}
        </where>
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM car_info
        <where>
            car_id=#{id}
        </where>
    </delete>

    <delete id="deleteByCommId" parameterType="long">
        DELETE FROM car_info
        <where>
            commission_id=#{commissionId}
        </where>
    </delete>

</mapper>
