<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.CommissionMapper">

    <sql id="column">
        commission_info.commission_id,
        commission_info.user_id,
        commission_info.principal,
        commission_info.contact,
        commission_info.phone,
        commission_info.policy_num,
        commission_info.company,
        commission_info.insured,
        commission_info.risk_date,
        commission_info.report_num,
        commission_info.damage_amount,
        commission_info.discount,
        commission_info.salesman,
        commission_info.payment_date,
        commission_info.checkout_date,
        commission_info.reminder_time,
        commission_info.create_time,
        commission_info.reminder,
        commission_info.remarks,
        commission_info.direct
    </sql>

    <insert id="insert" parameterType="Commission">
        INSERT INTO commission_info(<include refid="column" />) VALUES (
        #{commissionId},
        #{userId},
        #{principal},
        #{contact},
        #{phone},
        #{policyNum},
        #{company},
        #{insured},
        #{riskDate},
        #{reportNum},
        #{damageAmount},
        #{discount},
        #{salesman},
        #{paymentDate},
        #{checkoutDate},
        #{reminderTime},
        #{createTime},
        #{reminder},
        #{remarks},#{direct});
    </insert>

    <select id="selectListByPage" parameterType="Map" resultType="Commission">
        SELECT
        com.commission_id as commissionId,
        com.user_id as userId,
        com.principal as principal,
        com.contact as contact,
        com.phone as phone,
        com.policy_num as policyNum,
        com.company as company,
        com.insured as insured,
        com.risk_date as riskDate,
        com.report_num as reportNum,
        com.damage_amount as damageAmount,
        com.discount as discount,
        com.salesman as salesman,
        com.payment_date as paymentDate,
        com.checkout_date as checkoutDate,
        com.reminder_time as reminderTime,
        com.create_time as createTime,
        com.reminder as reminder,
        com.remarks as remarks,
        com.direct as direct
<!--        tra.car_num,-->
<!--        tra.car_type-->
        FROM commission_info com
<!--        LEFT JOIN-->
<!--        travel tra ON com.commission_id=tra.commission_id-->
    </select>

    <select id="selectById" parameterType="long" resultType="Commission">
        SELECT <include refid="column" /> FROM commission_info
        <where>
            commission_id=#{id}
        </where>
    </select>

    <update id="updateById" parameterType="Commission">
        UPDATE commission_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="principal != null and principal != ''">
                principal=#{principal} ,
            </if>
            <if test="contact != null and contact != ''">
                contact=#{contact} ,
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone} ,
            </if>
            <if test="policyNum != null and policyNum != ''">
                policy_num=#{policyNum} ,
            </if>
            <if test="company != null and company != ''">
                company=#{company} ,
            </if>
            <if test="insured != null and insured != ''">
                insured=#{insured} ,
            </if>
            <if test="riskDate != null">
                risk_date=#{riskDate} ,
            </if>
            <if test="reportNum != null and reportNum != ''">
                report_num=#{reportNum} ,
            </if>
            <if test="damageAmount != null">
                damage_amount=#{damageAmount} ,
            </if>
            <if test="discount != null">
                discount=#{discount} ,
            </if>
            <if test="salesman != null and salesman != ''">
                salesman=#{salesman} ,
            </if>
            <if test="paymentDate != null">
                payment_date=#{paymentDate} ,
            </if>
            <if test="checkoutDate != null">
                checkout_date=#{checkoutDate} ,
            </if>
            <if test="reminderTime != null">
                reminder_time=#{reminderTime} ,
            </if>
            <if test="createTime != null">
                create_time=#{createTime} ,
            </if>
            <if test="reminder != null and reminder != ''">
                reminder=#{reminder} ,
            </if>
            <if test="remarks != null and remarks != ''">
                remarks=#{remarks}
            </if>
        </trim>
        <where>
            commission_id=#{commissionId}
        </where>
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM commission_info
        <where>
            commission_id=#{id}
        </where>
    </delete>

</mapper>
