<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.CommissionMapper">

    <sql id="column">
        commission_info.commission_id,
        commission_info.user_id,
        commission_info.principal,
        commission_info.contact,
        commission_info.phone,
        commission_info.policy_num,
        commission_info.company,
        commission_info.insured,
        commission_info.risk_date,
        commission_info.report_num,
        commission_info.damage_amount,
        commission_info.discount,
        commission_info.salesman,
        commission_info.payment_date,
        commission_info.checkout_date,
        commission_info.reminder_time,
        commission_info.create_time,
        commission_info.reminder,
        commission_info.remarks,
        commission_info.direct,
        commission_info.money_back
    </sql>

    <insert id="insert" parameterType="Commission">
        INSERT INTO commission_info(<include refid="column" />) VALUES (
        #{commissionId},
        #{userId},
        #{principal},
        #{contact},
        #{phone},
        #{policyNum},
        #{company},
        #{insured},
        #{riskDate},
        #{reportNum},
        #{damageAmount},
        #{discount},
        #{salesman},
        #{paymentDate},
        #{checkoutDate},
        #{reminderTime},
        #{createTime},
        #{reminder},
        #{remarks},#{direct},#{moneyBack});
    </insert>

    <select id="selectListByPage" parameterType="Map" resultType="Map">
        SELECT
        com.money_back AS moneyBack,
        com.commission_id AS commissionId,
        com.user_id AS userId,
        com.principal AS principal,
        com.contact AS contact,
        com.phone AS phone,
        com.policy_num AS policyNum,
        com.company AS company,
        com.insured AS insured,
        DATE_FORMAT(com.risk_date, '%Y-%m-%d') AS riskDate,
        com.report_num AS reportNum,
        com.damage_amount AS damageAmount,
        com.discount AS discount,
        com.salesman AS salesman,
        DATE_FORMAT(com.payment_date, '%Y-%m-%d') AS paymentDate,
        DATE_FORMAT(com.checkout_date, '%Y-%m-%d') AS checkoutDate,
        DATE_FORMAT(com.reminder_time, '%Y-%m-%d %H:%i:%S') AS reminderTime,
        DATE_FORMAT(com.create_time, '%Y-%m-%d %H:%i:%S') AS createTime,
        com.reminder AS reminder,
        com.remarks AS remarks,
        com.direct AS direct,
        tra.car_num AS carNum,
        tra.car_type AS carType
        FROM commission_info com
        LEFT JOIN
        travel tra ON com.commission_id=tra.commission_id
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="param.riskDateFrom != null">
                com.risk_date &gt;= #{param.riskDateFrom} AND
            </if>
            <if test="param.riskDateTo != null">
                com.risk_date &lt;= #{param.riskDateTo} AND
            </if>
            <if test="param.principal != null and param.principal != '' ">
                com.principal like CONCAT('%',#{param.principal},'%') AND
            </if>
            <if test="param.company != null and param.company != '' ">
                com.company like CONCAT('%',#{param.company},'%') AND
            </if>
            <if test="param.insured != null and param.insured != '' ">
                com.insured like CONCAT('%',#{param.insured},'%') AND
            </if>
            <if test="param.carNum != null and param.carNum != '' ">
                tra.car_num like CONCAT('%',#{param.carNum},'%') AND
            </if>
            <if test="param.reportNum != null and param.reportNum != '' ">
                com.report_num like CONCAT('%',#{param.reportNum},'%') AND
            </if>
            <if test="param.damageAmount != null and param.damageAmount != '' ">
                com.damage_amount like CONCAT('%',#{param.damageAmount},'%') AND
            </if>
            <if test="param.paymentDateFrom != null ">
                com.payment_date &gt;= #{param.paymentDateFrom} AND
            </if>
            <if test="param.paymentDateTo != null ">
                com.payment_date &lt;= #{param.paymentDateTo} AND
            </if>
            <if test="param.isPayment != null and param.isPayment == 1 ">
                com.payment_date != null AND
            </if>
            <if test="param.checkoutDateFrom != null ">
                checkout_date &gt;= #{param.checkoutDateFrom} AND
            </if>
            <if test="param.checkoutDateTo != null ">
                checkout_date &lt;= #{param.checkoutDateTo} AND
            </if>
            tra.is_main_travel=1
        </trim>
    </select>

    <select id="selectById" parameterType="long" resultType="Commission">
        SELECT <include refid="column" /> FROM commission_info
        <where>
            commission_id=#{id}
        </where>
    </select>

    <update id="updateById" parameterType="Commission">
        UPDATE commission_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="moneyBack != null">
                money_back=#{moneyBack} ,
            </if>
            <if test="principal != null and principal != ''">
                principal=#{principal} ,
            </if>
            <if test="contact != null and contact != ''">
                contact=#{contact} ,
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone} ,
            </if>
            <if test="policyNum != null and policyNum != ''">
                policy_num=#{policyNum} ,
            </if>
            <if test="company != null and company != ''">
                company=#{company} ,
            </if>
            <if test="insured != null and insured != ''">
                insured=#{insured} ,
            </if>
            <if test="riskDate != null">
                risk_date=#{riskDate} ,
            </if>
            <if test="reportNum != null and reportNum != ''">
                report_num=#{reportNum} ,
            </if>
            <if test="damageAmount != null">
                damage_amount=#{damageAmount} ,
            </if>
            <if test="discount != null">
                discount=#{discount} ,
            </if>
            <if test="salesman != null and salesman != ''">
                salesman=#{salesman} ,
            </if>
            <if test="paymentDate != null">
                payment_date=#{paymentDate} ,
            </if>
            <if test="checkoutDate != null">
                checkout_date=#{checkoutDate} ,
            </if>
            <if test="reminderTime != null">
                reminder_time=#{reminderTime} ,
            </if>
            <if test="createTime != null">
                create_time=#{createTime} ,
            </if>
            <if test="reminder != null and reminder != ''">
                reminder=#{reminder} ,
            </if>
            <if test="remarks != null and remarks != ''">
                remarks=#{remarks}
            </if>
        </trim>
        <where>
            commission_id=#{commissionId}
        </where>
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM commission_info
        <where>
            commission_id=#{id}
        </where>
    </delete>
</mapper>
