<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.TravelMapper">
    <sql id="column">
        travel.car_num,
        travel.car_type,
        travel.owner,
        travel.address,
        travel.use_type,
        travel.brand_type,
        travel.iden_code,
        travel.engine_num,
        travel.registered_date,
        travel.issue_date,
        travel.file_num,
        travel.load_num,
        travel.total_quality,
        travel.curb_quality,
        travel.load_quality,
        travel.profile_size,
        travel.traction_quality,
        travel.test_record,
        travel.bar_num,
        travel.remarks,
        travel.commission_id,
        travel.travel_id,
        travel.create_time
    </sql>

    <insert id="insert" parameterType="Travel">
        INSERT INTO travel(<include refid="column" />) VALUES (#{carNum},#{carType},#{owner},#{address},#{useType},#{brandType},#{idenCode},#{engineNUm},#{registeredDate},#{issueDate},#{fileNum},#{loadNum},#{totalQuality},##{curbQuality},#{loadQuality},#{profileSize},#{tractionQuality},#{testRecord},#{barNum}m#{remarks},#{commissionId},#{travelId},#{createTime});
    </insert>

</mapper>
