<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.TravelMapper">
    <sql id="column">
        travel.car_num,
        travel.car_type,
        travel.owner,
        travel.address,
        travel.use_type,
        travel.brand_type,
        travel.iden_code,
        travel.engine_num,
        travel.registered_date,
        travel.issue_date,
        travel.file_num,
        travel.load_num,
        travel.total_quality,
        travel.curb_quality,
        travel.load_quality,
        travel.profile_size,
        travel.traction_quality,
        travel.test_record,
        travel.bar_num,
        travel.remarks,
        travel.commission_id,
        travel.travel_id,
        travel.create_time,
        travel.is_main_travel
    </sql>

    <sql id="updateColumn">
        <if test="carNum != null and carNum != ''">
            car_num=#{carNum} ,
        </if>
        <if test="carType != null and carType != ''">
            car_type=#{carType} ,
        </if>
        <if test="owner != null and owner != ''">
            owner=#{owner} ,
        </if>
        <if test="address != null and address != ''">
            address=#{address} ,
        </if>
        <if test="useType != null and useType != ''">
            use_type=#{useType} ,
        </if>
        <if test="brandType != null and brandType != ''">
            brand_type=#{brandType} ,
        </if>
        <if test="idenCode != null and idenCode != ''">
            iden_code=#{idenCode} ,
        </if>
        <if test="engineNum != null and engineNum != ''">
            engine_num=#{engineNum} ,
        </if>
        <if test="registeredDate != null">
            registered_date=#{registeredDate} ,
        </if>
        <if test="issueDate != null">
            issue_date=#{issueDate} ,
        </if>
        <if test="fileNum != null and fileNum != ''">
            file_num=#{fileNum} ,
        </if>
        <if test="loadNum != null and loadNum != ''">
            load_num=#{loadNum} ,
        </if>
        <if test="totalQuality != null">
            total_quality=#{totalQuality} ,
        </if>
        <if test="curbQuality != null">
            curb_quality=#{curbQuality} ,
        </if>
        <if test="loadQuality != null">
            load_quality=#{loadQuality} ,
        </if>
        <if test="profileSize != null">
            profile_size=#{profileSize} ,
        </if>
        <if test="tractionQuality != null">
            traction_quality=#{tractionQuality} ,
        </if>
        <if test="testRecord != null and testRecord != ''">
            test_record=#{testRecord} ,
        </if>
        <if test="barNum != null and barNum != ''">
            bar_num=#{barNum} ,
        </if>
        <if test="remarks != null and remarks != ''">
            remarks=#{remarks} ,
        </if>
        <if test="commissionId != null">
            commission_id=#{commissionId} ,
        </if>
        <if test="createTime != null">
            create_time=#{createTime} ,
        </if>
        <if test="isMainTravel != null">
            is_main_travel=#{isMainTravel}
        </if>
    </sql>

    <insert id="insert" parameterType="Travel">
        INSERT INTO travel(<include refid="column" />) VALUES (#{carNum},#{carType},#{owner},#{address},#{useType},#{brandType},#{idenCode},#{engineNum},#{registeredDate},#{issueDate},#{fileNum},#{loadNum},#{totalQuality},#{curbQuality},#{loadQuality},#{profileSize},#{tractionQuality},#{testRecord},#{barNum},#{remarks},#{commissionId},#{travelId},#{createTime},#{isMainTravel});
    </insert>

    <select id="selectById" parameterType="long" resultType="Travel">
        SELECT <include refid="column" /> FROM travel
        <where>
            travel_id=#{id}
        </where>
    </select>
    <select id="selectByCommId" resultType="com.mxp.car.model.Travel">
        SELECT <include refid="column" /> FROM travel
        <where>
            commission_id=#{commissionId}
        </where>
    </select>

    <update id="updateByCommId" parameterType="Travel">
        UPDATE travel
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateColumn" />
        </trim>
        <where>
            commission_id=#{commissionId}
        </where>
    </update>

    <update id="updateById">
        UPDATE travel
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateColumn" />
        </trim>
        <where>
            travel_id=#{travelId}
        </where>
    </update>

    <delete id="deleteById" parameterType="long" >
        DELETE FROM travel
        <where>
            travel_id=#{id}
        </where>
    </delete>

    <delete id="deleteByCommId" parameterType="long">
        DELETE FROM travel
        <where>
            commission_id=#{commissionId}
        </where>
    </delete>

</mapper>
