<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxp.car.mapper.UserMapper">
    <sql id="column">
        `user`.name,
        `user`.verification,
        `user`.username,
        `user`.password,
        `user`.company,
        `user`.phone,
        `user`.address,
        `user`.user_id
    </sql>

    <sql id="columnAll">
        `user`.id,
        `user`.name,
        `user`.verification,
        `user`.username,
        `user`.password,
        `user`.company,
        `user`.phone,
        `user`.address,
        `user`.user_id,、

    </sql>

    <insert id="insert" parameterType="com.mxp.car.model.User">
        INSERT INTO user(<include refid="column"/>)
        VALUES (#{name},#{verification},#{username},#{password},#{company},#{phone},#{address},#{userId})
    </insert>
    <select id="selectUserByUsername" resultType="com.mxp.car.model.User">
        select
        <include refid="columnAll"/>,
        c.reminder_time,
        c.reminder
        from `user` user left join commission_info c on  user.id=c.user_id
        <where>
            username='${username}'
        </where>
    </select>

</mapper>
